pytest >= 6.2.5
pytest-dependency >= 0.6.0
tox
cffi>=1.12
mypy>=0.990
pylint >= 2.14.5
PyJWT
requests == 2.31.0
requests_oauthlib == 1.3.1
localStoragePy
urllib3 >= 1.25.3, < 2.1.0
keyring
keyrings.alt
cryptography
pyjwt[crypto]
keyrings.cryptfile